@use 'variaveis';

.footer {
    padding: 26px 8px;
    
    &__container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;
    }

    &__links {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        


        &__item {
            display: inline-block;

            a {
                color: variaveis.$corFooter;
                text-decoration: none;
                padding: 8px 16px;
                display: block;
                font-size: x-small;

                &:hover {
                    color: variaveis.$corExtra;
                }

                @media (max-width: 768px) {
                    display: block;
                    font-size: xx-small;
                    padding-left: 0 auto 0;
                    overflow: none;
                }
            }
        }
    }

    p {
        margin-bottom: 16px;
        color: variaveis.$corFooter;
        font-size: x-small;

        @media (max-width: 768px) {
            overflow-x: none;
            display: block;
            font-size: xx-small;
            padding-left: 0 auto 0;
        }
    }

}