@use 'variaveis';

.shows {
    padding: 2vw 5.6vw;
    min-height: 50vw;
    text-align: center;

    h2 {
        color: variaveis.$corTextoPrincipal;
    }


    &__list {
        margin-top: 44px;
        display: none;
        grid-template-columns: repeat(11, 1fr) ;
        gap: 24px;
        

        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
            display: block;
            text-align: center;
        }

        &--is-active {
            display: grid;
        }

        &__item {
            img {
                max-width: 100%;
                border-radius: 14px;
            }
            
            h3 {
                text-decoration: center;
                color: variaveis.$corTextoPrincipal;

                &:hover {
                    color: variaveis.$corTextoSecundario;
                }
            }
        }
    }
}